alabaster==0.7.10
Babel==2.5.1
backports.shutil-get-terminal-size==1.0.0
catkin-pkg==0.3.9
certifi==2017.11.5
chardet==3.0.4
configparser==3.5.0
django-sb-admin==0.3.6
docutils==0.14
enum34==1.1.6
flake8==3.5.0
google-api-python-client==1.4.1
httplib2==0.10.3
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.13.3
oauth2client==4.1.2
pandas==0.21.0
pathlib==1.0.1
pew==1.1.1
pipenv==8.3.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
rosdep==0.11.8
rosdistro==0.6.2
rosinstall==0.7.8
rosinstall-generator==0.1.13
rospkg==1.1.4
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
shutilwhich==1.1.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
typing==3.6.2
uritemplate==3.0.0
urllib3==1.22
vcstools==0.1.39
virtualenv==15.1.0
virtualenv-clone==0.2.6
whitenoise==3.2
wstool==0.1.13
wxPython==4.0.0b2
wxPython-common==3.0.2.0
