{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Panel</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Medicamentos cercanos a vencer</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>En rojo se muestran los medicamentos vencidos, y en amarillo los que vencen este mes.</p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="id01">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre Genérico</th>
                                <th class="text-center">Nombre Comercial</th>
                                <th class="text-center">Fecha Vencimiento</th>
                                <th class="text-center">Cantidad en bodega</th>
                                <th class="text-center">Cantidad en botiquín</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for venc,venciendo,med in conteo %}
                                <tr class="{% if venc %}danger{% elif venciendo %}warning{% else %}item{% endif %}">
                                    <td id="gen">{{ med.generico }}</td>
                                    <td id="com">{{ med.comercial }}</td>
                                    <td id="fecha">{{ med.fecha_venc }}</td>
                                    <td id="bod">{{ med.cantidad_bodega }}</td>
                                    <td id="bot">{{ med.cantidad_botiquin }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Búsqueda de medicamentos</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Buscar..." oninput="w3.filterHTML('#id02', '.item', this.value)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="id02">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre Genérico</th>
                                <th class="text-center">Nombre Comercial</th>
                                <th class="text-center">Fecha Vencimiento</th>
                                <th class="text-center">Cantidad bodega</th>
                                <th class="text-center">Cantidad botiquín</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for med in total %}
                                <tr class="item">
                                    <td>{{ med.generico }}</td>
                                    <td>{{ med.comercial }}</td>
                                    <td>{{ med.fecha_venc }}</td>
                                    <td>{{ med.cantidad_bodega }}</td>
                                    <td>{{ med.cantidad_botiquin }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->


    <!-- /.col-lg-8 -->
    <!--
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-right text-muted small"><em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body
        </div>

    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}

<!-- Morris Charts JavaScript -->
<script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
<script src="{% static "bower_components/morrisjs/morris.min.js" %}"></script>
<script src="{% static "js/morris-data.js" %}"></script>

{% endblock extrajs %}